<div class='row'>
  <div class="col-md-8">
    <h1>
      Groups
    </h1>
    {{#if model}}
      <ul class="list-group">
        {{#each group in model}}
          <li class="list-group-item">
            {{link-to group.name "groups.show" group}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        No groups yet.
        {{link-to "Go create one" "groups.new"}}
      </p>
    {{/if}}
  </div>
</div>

