<div class='row'>
  <div class="col-md-8">
    <h1>
      Users
    </h1>
    {{#if model}}
      <ul class="list-group">
        {{#each user in model}}
          <li class="list-group-item">
            {{link-to user.name "users.show" user}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        No user yet.
        {{link-to "Go create one" "users.new"}}
      </p>
    {{/if}}
  </div>
</div>

