<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-2">
    {{#link-to 'users.new' classNames='btn btn-primary' title="Create a new user"}}
      <span class="glyphicon glyphicon-plus"></span> Create a new user
    {{/link-to}}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-10">
    {{outlet}}
  </div>
</div>


